body {
  background-image: url("./assets/portfolio_bg_img\(2\).png");
  background-repeat: repeat;
  background-position: center center;
  background-size: auto;
  background-attachment: scroll;
  color: white;
}
